body {
  font-family: 'Roboto Slab', serif;
}

#colorContainer {
  width: 250px;
  height: 100%;
  background: #252118;
  text-align: center;
  float: left;
  color: #F26823;
}

button {
  position: absolute;
  top: 400px;
}
#erase {
  float: left;
}
#clear {
  float: right;
}

#mainGrid {
  float: right;
  background: #DEDFBE;
}

#logo {
   -ms-transform: scale(.15,.15); /* IE 9 */
    -webkit-transform: scale(.15,.15); /* Safari */
    transform: scale(.15,.15);
}

.colorPalette_cells {
   position: relative;
  top: 150px;
  height: 30px;
  width: 30px;
  display: inline-block;
}

.mainGrid_cells {
  position: relative;
  left: 200px;
  border: 1px black solid;
  height: 50px;
  width: 50px;
  display: inline-block;
}

