body {
  font-family:'Roboto Slab', serif;
  color: #6B6B4D;
}

body #pixelPainter #colorPalette {
  height: 1000px;
  width: 302px;
  float: left;
  background-color: #252118;
  text-align: center;
  padding-top: 46px;
}

#pixelPainter #colorPalette #start-fresh {
  height: 57px;
  width: 216px;
  border: 1px solid #6B6B4D;
  text-align: center;
  margin: auto;
  position: relative;
  top: -190px;
}

#start-fresh {
  line-height: 55px;
}

#colorPalette #picked {
  height: 34px;
  width: 34px;
  background-color: white;
  position: relative;
  top: 67px;
  left: 46px;
  z-index: 20;
}

#slash {
  z-index: 30;
}


#undo {
  height: 37px;
  width: 109px;
  border: 1px solid #6B6B4D;
  text-align: center;
  position: relative;
  top: 166px;
  left: 146px;
}

.colorPalette_cells {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  top: 146px;
  border: 3px transparent solid;
}

.colorPalette_cells:hover {
  border:3px black solid;
}


#mainGrid {
  height: 1000px;
  background-color: #DEDFBE;
 }

#mainGrid_inner {
  margin-left: 350px;
  padding-top: 49px;
}

.mainGrid_cells {
  border: 1px black solid;
  height: 38px;
  width: 38px;
  display: inline-block;
  background-color: white;
}

#undo {
  background-image: url('../assets/undo.svg');
  line-height: 35px;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 9px 8px;
}

#undoimage {
  margin-left: 25px;
}

#logo {
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  position: relative;
  bottom: 350px;
  color: #F26823;
  width: 220px;
  font-size: 1.2em;
  left: 55px;
}
